
<form action = "/Auth/Login" method="post">
<table>
    <caption>Login </caption>
<tr>
<td>Mail:</td> <td><input type="text" name="mail" id="mail"></td>
</tr>
<tr>
<td>Password:</td> <td><input type="password" name="pwd" id="pwd"></td>
</tr>

</table>
<button type="submit" value="Submit">Submit</button>
</form>
